@tailwind base;
@tailwind components;
@tailwind utilities;

.content p{
margin-bottom: 24px;
}

.content h6 {
    font-size: 1rem;
    margin-bottom: 24px;
}

.content h5 {
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.content h4 {
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.content h3 {
    font-size: 1.75rem;
    margin-bottom: 24px;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 24px;
}

.content h1 {
    font-size: 2.25rem;
    margin-bottom: 24px;
}



.content h1 {
    font-size: 3rem;
}